body {
  background-color: #D6EAF8;
  color: #01040f;
  margin: 0;
}
h1 {
  text-align: left;
  font-family: 'Bebas Neue';
  font-size:3rem;
  color: #186A3B;
}
h2 {
  text-align: left;
  font-family: 'Poppins';
  font-size:1.5rem;
  color: #28B463;
}
a{
  color: #28B463;
}
h3 {
  text-align: left;
  font-family: 'Poppins';
  font-size:1.5rem;
  color: #28B463;
}
p{
  color: #5F6A6A:;
  font-family: 'Poppins';
}